Data/Person/*
Data/Scene/*
img_data/train/Person/*
img_data/train/Scene/*
img_data/val/Person/*
img_data/val/Scene/*
img_data/test/Person/*
img_data/test/Scene/*
models/*/*
graphs/*/*
output_txt/*/*
.ipynb_checkpoints
img_data_2/train/Person/*
img_data_2/train/Scene/*
img_data_2/val/Person/*
img_data_2/val/Scene/*
img_data_2/test/Person/*
img_data_2/test/Scene/*